<form class="legends sheet technique-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  </header>
  <div>
    <section class="approach-basic">
      <table>
        <tr>
          <th class="title">{{localize "legends.techniques.approach"}}</th>
          <th class="title">{{localize "legends.techniques.basic"}}</th>
        </tr>
        <tr>
          <td>
            <select name="data.approach">
              {{#select data.data.approach}}
                {{#each config.approaches as |name type|}}
                  <option value="{{type}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
          <td class="center"><input type="checkbox" name="data.basic" {{checked data.data.basic}}></td>
        </tr>
      </table>
    </section>

    {{> "systems/legends/templates/partials/description-editor.hbs" }}
  </div>
</form>
