// out: false

@import "./config.less";
@import "./sheets.less";

.legends.sheet {
  &.move-sheet,
  &.technique-sheet{
    .rollable,
    .description-editor,
    .approach-basic{
      margin: 0.5rem;
    }
  }
}
